.sign-up {
    display: flex;
    color: brown;
    font-size: 1rem;
    width: 100%;
    background-color: rgb(221, 221, 221);
    flex-direction: column;
}

#main-container {
    display: flex;
}

.picture {
    background-image: url("jack-white-ETlaqvFwEzw-unsplash\(1\).jpg");
    display: flex;
    position: relative;
    background-size: cover;
    width: 70vw;
    min-width: 35vw;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20rem;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.engine {
    font-size: 3rem;
    color: white;
    padding-right: 1rem;
}

.personal-info {
    background-color: white;
}

.line {
    display: flex;
}