@font-face {
    font-family: Boycott;
    src: 
    url(Fonts/BoycottProcessed/boycott_-webfont.woff2),
    url(Fonts/BoycottProcessed/boycott_-webfont.woff);
}

@font-face {
    font-family: Expletus;
    src: 
    url(Fonts/ExpletusSansBoldProcessed/expletussans-bold-webfont.woff2),
    url(Fonts/ExpletusSansBoldProcessed/expletussans-bold-webfont.woff);
}

@font-face {
    font-family: Inconsolata;
    src: 
    url(Fonts/InconsolataProcessed/inconsolata-webfont.woff2)
    url(Fonts/InconsolataProcessed/inconsolata-webfont.woff);
}

body {
    margin: 0;
}

.sign-up {
    display: flex;
    font-size: 1rem;
    width: 100%;
    background-color: rgb(221, 221, 221);
    flex-direction: column;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(to left,rgba(255, 0, 0, 0.9) 0%,rgba(0, 0, 0, 1) 99%); 
}

#main-container {
    display: flex;
}

.picture {
    background-image: url("jack-white-ETlaqvFwEzw-unsplash\(1\).jpg");
    display: flex;
    position: relative;
    background-size: cover;
    width: 70vw;
    min-width: 35vw;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20rem;
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.engine {
    font-family: "Boycott", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
    padding-right: 1rem;
}

.header  {
    height: 35vh;
    align-content: center;
    padding-left: 5rem;
    font-size: 2rem;
    color: silver;
    font-family: Inconsolata, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.personal-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    box-shadow: 8px 8px 8px #888, 9px 9px 9px rgb(172, 22, 22);
    height: 25vh;
}

.line {
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

input {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    border: 0.1rem solid rgb(175, 174, 174);
    height: 1.5rem;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 3px 5px rgb(201, 188, 188);
}

input:invalid {
    border-color: red;
}

.label {
    font-family: Expletus, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.75rem;
}

.button {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 5rem;
    height: 20vh;
}

button {
    height: 3.5rem;
    width: 15rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, black, red);
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}

button:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(255, 0, 0, 0.9));
    color: white;
}

button:active {
    background-image: linear-gradient(to right, black, rgb(131, 6, 6));
    color: white;
}

.login-link {
    text-decoration: none;
    color: rgb(156, 9, 9);
}

.prompt {
    font-size: 1rem;
    color: silver;
}
